.preview {
  position: absolute;
  cursor: pointer;
  transform: translateY(-1rem);
  z-index: 2;
}

.preview::after {
  content: '';
  transition: all .3s;
  border-radius: 50%;
}

.preview:hover::after {
  content: 'ALTERAR FOTO';
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background: rgba(0, 0, 0, 0.6);
  position: absolute;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: var(--white);
  font-weight: bold;
  font-size: .8rem;
}

.preview img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  object-fit: cover;
}

.inputBox {
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
}

.inputBox input {
  display: none;
}

.inputBox label {
  width: 80px;
  height: 80px;
  border: 2px solid rgba(0, 0, 0, 0.5);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transform: translateY(-1rem);
}

.inputBox label::after {
  content: '';
  transition: all .3s;
  border-radius: 50%;
}

.inputBox label:hover::after {
  content: 'ALTERAR FOTO';
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: var(--white);
  font-weight: bold;
  font-size: .8rem;
}

.inputBox label img {
  width: 60px;
}

.inputBox span {
  position: absolute;
  bottom: -.5rem;
  color: #E83F5B;
}

@media (max-width: 768px) {
  .inputBox label img {
    display: block;
  }

  .preview img {
    display: block;
  }
}