.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  background: rgba(0, 0, 0, 0.7);
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal {
  width: 600px;
  height: 600px;
  background: var(--light);
  border-radius: 6px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.modal > svg{
  background: var(--primary);
  border-radius: 50%;
  position: absolute;
  top: 0.6rem;
  left: 0.6rem;
  cursor: pointer;
  transition: filter .3s;
}

.modal > svg:hover {
  filter: brightness(.9);
}

.modal .rg {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.modal .rg input {
  width: 180px;
}

@media (max-width: 768px) {
  .modal {
    width: 90%;
  }

  .modal .rg input {
    width: 100%;
  }

  .form {
    width: 90%;
  }

  .form input {
    width: 100%;
  }
}