.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  background: rgba(0, 0, 0, 0.7);
  display: flex;
  align-items: center;
  justify-content: center
}

.modal {
  width: 30rem;
  height: 80%;
  border-radius: 8px;
  background: var(--light);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.modal div {
  background: #D1FAE5;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1rem;
}

.modal p {
  margin-bottom: 1rem;
}

.modal p:nth-child(3) {
  color: #6B7280;
}

.modal a {
  width: 100%;
  display: flex;
  justify-content: center;
}

.modal button {
  width: 85%;
}

.modal a:last-child button {
  background: var(--white);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  margin-top: 1rem;
}

@media (max-width: 768px) {
  .modal {
    width: 85%;
    height: 50%;
  }
}