.container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: var(--light);
}

.header {
  width: 100%;
  min-height: 10rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--white);
  border-bottom: 1px solid #000;
  margin-bottom: 5rem;
}

.header div {
  background: var(--primary);
  border-radius: 50%;
  position: absolute;
  left: 3rem;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: filter .3s;
  cursor: pointer;
}

.header div:hover {
  filter: brightness(.9);
}

.cards {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: var(--light);
}

.card {
  height: 10rem;
  width: 70%;
  padding: 1rem;
  background: var(--white);
  display: flex;
  align-items: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  border-radius: 6px;
  cursor: pointer;
  justify-content: space-between;
  margin-bottom: 2rem;
}

.card img {
  width: 140px;
  max-height: 9rem;
  object-fit: cover;
  margin-left: 1rem;
}

.card article {
  margin-left: 1rem;
  width: 100%;
}

.card p {
  width: 60%;
}

.card p:last-child {
  font-size: .9rem;
  font-style: italic;
}

.card .edit {
  position: absolute;
  right: 2rem;
  cursor: pointer;
}

.container button {
  background: var(--primary);
  border: 0;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.container button::before {
  content: '';
  width: 0;
  height: 70px;
  background: rgba(0, 0, 0, 0.05);
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 35px 0 0 35px;
  
}

.container button::after {
  content: '';
  width: 0;
  height: 70px;
  background: rgba(0, 0, 0, 0.05);
  position: absolute;
  top: 0;
  right: 0;
  border-radius: 0 35px 35px 0;
}

.container button:hover::before {
  animation: overlayButton .3s forwards;
}

.container button:hover::after {
  animation: overlayButton .3s forwards;
}

@keyframes overlayButton {
  from {
    width: 0;
  }
  to {
    width: 35px;
  }
}

@media (max-width: 768px ) {
  
  .header div {
    left: 0.6rem;
    top: 0.6rem; 
  }

  .card {
    width: 90%;
    flex-direction: column;
    min-height: 20rem;
    align-items: center;
    justify-content: space-evenly;
  }

  .card img {
    width: 100%;
  }

  .card article {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
}